* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #ededf6;
    --font-color: #31343d;
    --nav-color: #92cccd;
}
body {
    background-color: var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--font-color);
}
header {
    width: 100vw;
    height: 100px;
    background-color: var(--font-color);
}
section {
    padding-top: 40px;
}
.container {
    padding: 0 50px;
}
/* navigation */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}
.logo {
    color:var(--font-color);
    background-color: var(--nav-color);
    width: 350px;
    height: 60px;
    font-size: 2.8rem;
    font-weight: 400;
    text-align: right;
    padding-right: 10px;
    margin-left: -80px;
}
.nav-list {
    display: flex;
    list-style: none;
}
.nav-list li a {
    text-decoration: none;
    color:var(--nav-color);
    font-size: 1.4rem;
    padding: 0 35px;
}
/* animation */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #92cccd8a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: var(--font-color);
  }
  .hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }


/* hero */
.hero{
    background-image: url(./img/hero.png);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 20px;
}
.page-title {
    background-color: var(--nav-color);
    width: 320px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-title h1 {
    font-size: 2rem;
    font-weight: 400;
}
/* about */
.about-info{
    display: flex;
    position: relative;
}

.title h2{
font-size: 2.2rem;
font-weight: 400;
position: relative;
margin-left: 40px;

}
.title h2::after{
    content:"";
    position: absolute;
    top:0px;
    left:120px;
    width:4px;
    height: 100px;
    background-color: var(--font-color);
}
.about-desc {
    margin: 0 40px;
}
.about-desc  p {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 100;
}
/* work */
.container-box {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    gap: 25px;
}
[class ^="box-"]{
    height: 250px;
    min-width: 140px;
    background-color: black;
    border: 4px solid var(--nav-color);
    padding: 20px;
    color:var(--font-color);
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
[class ^="box-"] span{
    width: 180px;
    height: 60px;
    background-color: var(--nav-color);
    display: block;
    padding:5px;
    margin-left: -20px;
}
.box-1 {
    flex: 100%;
    background-image: url(./img/rustico.png);
}
.box-2, .box-3, .box-4, .box-5 {
 flex: 40%;
}
.box-2{
    background-image: url(./img/nutur.png); 
}
.box-3 {
    background-image: url(./img/clock.png);
}
.box-4 {
    background-image: url(./img/bank.png);
}
.box-5 {
    background-image: url(./img/run.jpg);
}

/* contact */
.contact-info{
    display: flex;
}
.contact-title h2{
    margin-left: 5px;
}
.contact-title h2::after {
    left:160px;
}
.contact-links{
    width: 80vw;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap:20px;
    position: relative;
}
.contact-links a {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--font-color);
}

@media (max-width:890px) {
    header {
        height: 200px;
    }
    .container{
        padding: 0 10px;
    }
    .nav {
        flex-direction: column;
    }
    .nav-list {
        flex-direction: column;
    }
    .about-info{
        flex-direction: column;
    }
    .title h2 {
        margin-left:0;
        text-align: center;
    }
    .title h2::after{
        display: none;
    }
    .about-desc {
        margin: 0 10px;
    }
    .about-desc  p{
        font-size: 1rem;
        line-height: 1.2rem;
        text-align: center;
    }
    .container-box{
        margin: 0 10px;
    }
    [class ^="box-"]{
        flex:100%;
    }
    .contact-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-links a{
        font-size: 0.8rem;
    }

}